<configuration scan="true" scanPeriod="10 seconds">
	<jmxConfigurator />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSSS} %.-2level [%.15thread]%X{port} %logger{0}.%M: %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="real.msg" level="DEBUG"/>
	<logger name="reuse" level="DEBUG"/>

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>